<appSettings>
  <add key="PortPrinter" value="USB005"/>
  <add key="PrintBandrate" value="9600"/>
  <add key="IDCorresponsal" value="17" />
  <add key="idPaypad" value="21" />
  <add key="Sucursal" value="Puerta del Norte" />
  <add key="Email" value="ecitysoftware@outlook.es;ecitysoftware@gmail.com" />
  <!--14-->
  <add key="MensajeError" value="En el momento no se puede realizar la transacción.Por favor intente mas Tarde." />
  <add key="CodCinema" value="313" />
  <add key="NameCinema" value="Puerta del Norte" />
  <add key="Nit" value="900.090.098-0" />
  <add key="NitPromotora" value="890.939.520-9" />
  <add key="Tel" value="4442244" />
  <add key="TelPromotora" value="4442244" />
  <add key="WebServiceUrl" value="http://190.248.130.234/xml2/variable2.XML?WSDL" />
  <add key="LogoComprobante" value="C:\Users\H81\Documents\GitHub\WPProcinal\LogoPrint.png" />
  <add key="GetCities" value="/api/Procinal/GetCities" />
  <add key="GetCinema" value="/api/Procinal/GetCinema?cityId=" />
  <add key="GetSeats" value="/api/Procinal/GetSeats?roomId=" />
  <add key="GetRooms" value="/api/Procinal/GetRooms?cinemaId=" />
  <add key="GetRoom" value="/api/Procinal/GetRoom?roomId=" />
  <add key="GetAllSeatDisables" value="/api/Procinal/GetAllSeatDisables" />
  <add key="InsertSeatDisable" value="/api/Procinal/InsertSeatDisable" />
  <add key="NamePath" value="C:\\Procinal\\XmlCinema" />
  <add key="NamePathLog" value="C:\\Procinal\\LogError" />
  <add key="UrlImages" value="http://pantallasprocinal.com/img/peliculas/" />
  <add key="Duration" value="00:03:00" />
  <add key="Cinema" value="87" />
  <add key="ReinicioAplicacion" value="true" />
  <add key="EnviarCorreo" value="no" />
  <add key="ReImpresion" value="no" />

  <!--BEGIN MENSAJES MODAL-->
  <add key="MensajeSinDinero" value="No tengo dinero para procesar una transacción, acércate a taquilla o regresa más tarde. ¡Gracias!" />
  <add key="MensajeSinDineroInitial" value="No tengo dinero para procesar transacciones." />
  <add key="MensajeCensura" value="Apta para mayores de {0}, recuerda presentar documento de identidad en taquilla y al ingreso de la sala." />
  <add key="MensajeDatafono" value="Señor usuario, antes de empezar recuerde tener lista su tarjeta, gracias." />
  <!--END MENSAJES MODAL-->

  <!--BEGIN PUERTOS DE LOS PERIFÉRICOS________________________________________________________________________________________________________________________________-->
  <add key="PortBills" value="COM7" />
  <add key="PortCoins" value="COM3" />
  <!--END PUERTOS DE LOS PERIFÉRICOS__________________________________________________________________________________________________________________________________-->

  <!--BEGIN DENOMINACIONES CASETTE-->
  <add key="Casete1" value="0" />
  <add key="Casete2" value="10000" />
  <add key="Casete3" value="2000" />
  <!--END DENOMINACIONES CASETTE-->

  <!--BEGIN TIEMPOS TIMER-->
  <add key="TimerMovies" value="00:59" />
  <add key="TimerHorario" value="10:59" />
  <add key="TimerSilla" value="00:59" />
  <add key="TimerInactividad" value="00:30" />
  <!--END TIEMPOS TIMER-->

  <!--BEGIN TIEMPOS LECTURA Y ESCRITURA-->
  <add key="BillsReadTime" value="500" />
  <add key="BillsWriteTimes" value="500" />
  <add key="BillsBaudRate" value="57600" />
  <add key="CoinsReadTime" value="500" />
  <add key="CoinsWriteTimes" value="500" />
  <add key="CoinsBaudRate" value="57600" />
  <!--END TIEMPOS LECTIRA Y ESCRITURA-->

  <!--BEGIN SERVICES________________________________________________________________________________________________________________________________-->
  <add key="basseAddressLocal" value="https://www.1cero1.com/ApiAdministrator/api/" />
  <!--END SERVICES__________________________________________________________________________________________________________________________________-->
  <!--BEGIN APIControllers______________________________________________________________________________________________________________________________________________-->

  <add key="ValidateDispenser" value="Administrator/ValidateMoneyDispenser" />
  <add key="GetToken" value="Authentication/Authenticate" />
  <add key="InitPaypad" value="PayPadAdministrator/InitPaypad" />
  <add key="SaveLog" value="PayPadAdministrator/SaveLog" />
  <add key="SaveLogError" value="PayPadAdministrator/SaveErrorLog" />
  <add key="SaveLogDevice" value="PayPadAdministrator/SaveLogDevice" />
  <add key="SaveTransaction" value="PayPadAdministrator/SaveTransaction" />
  <add key="UpdateTransaction" value="PayPadAdministrator/UpdateTransaction" />
  <add key="ValidateDispenserAmount" value="PayPadAdministrator/ValidateDispenserAmount" />
  <add key="SaveTransactionDetail" value="PayPadAdministrator/SaveTransactionDetail" />
  <add key="SaveCardInformation" value="PayPadAdministrator/SaveCardInformation" />
  <add key="GetInvoiceData" value="PayPad/GetInvoiceData?customerID={0}{1}increment={2}" />
  <!--END APIControllers____________________________________________________________________________________________________________________________________________-->

  <!--BEGIN DATA TPV-->
  <add key="Delimitador" value=","/>
  <add key="IdentificadorInicio" value="I"/>
  <add key="TipoOperacion" value="01"/>
  <add key="NumeroKiosko" value="T0501"/>
  <add key="NumeroTerminal" value="000CRE01"/>
  <add key="CodigoUnico" value="010601557"/>
  <add key="IdentificacionCajero" value="PRU"/>
  <!--END DATA TPV-->
</appSettings>